<%- include('views/header') -%>

<div class="text-center center-div" id="standard-game">
    <div class="container">
        <h2>LAZY RIVER</h2>
        <a href="/route/nav">Navigation</a>
    </div>
</div>

<%- include('footer') -%>