<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container">
        <h3>Welcome to the Express Dashboard</h3>
        <h5><%= locals.user ? user : "User" %></h5>
        <h5>Turn 1: <span id="turn1"></span></h5>
        <h5>Turn 2: <span id="turn2"></span></h5>
        <h5>Turn 3: <span id="turn3"></span></h5>
        <h5>Final Score: <span id="final-score"></span></h5>
        <a href="/route/logout" id="logout">Logout</a>
    </div>
</div>

<%- include('footer') -%>