<%- include('header') -%>
<!--script src="index.js"></script-->
<div class="text-center center-div" id="login">
    <div class="container">
        <h1>GAME OVER</h1>
        <h3>Final Score: <span id="final-score"></span></h3>
        <!--a id="save-btn" href="/route/dashboard" onclick="getJSON()">Save Score</a-->
        <button id="save-btn" onclick="saveGame()">Save Score</button>
        <a href="/route/nav/standard">Play Again</a>
        <a href="/route/nav/">Back to Menu</a>





        <!--form action="/route/login" method="POST" class="pt-3">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" name="email">
                <small class="form-text text-muted text-start">Register email address</small>
            </div>
            <div class="form-group pb-2">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success rounded-pill">Submit</button>
        </form-->
    </div>
</div>
<!--script>
    const tot = require('../views/standard')
    console.log(`${tot.total}`)
    let total = 10
    document.getElementById('score').innerHTML = total
</script-->

<%- include('footer') -%>