<%- include('header') -%>

<div class="text-center center-div" id="standard-game">
    <div class="container">
        <h2>GOLD RUSH</h2>
        <a href="/route/nav">Navigation</a>
        <h4>Try to get the most points within the given time frame</h4>
    </div>
</div>

<%- include('footer') -%>