<%- include('header') -%>

<div class="text-center center-div" id="nav">
    <div class="container">
        <h2>Navigate</h2>
        <h3>Game Modes</h3>
        <div class="custom-btn btn-8" onclick="gameModeFunc()">
            <a href="/route/nav/standard">STANDARD</a>
        </div>
        <div class="custom-btn btn-8"  onclick="gameModeFunc()">
            <a href="/route/nav/goldrush">GOLD RUSH</a>
        </div>
        <div class="custom-btn btn-8"  onclick="gameModeFunc()">
            <a href="/route/nav/lazyriver">LAZY RIVER</a>
        </div>
        <div class="custom-btn btn-8"  onclick="gameModeFunc()">
            <a href="/route/nav/battleroyale" >BATTLE ROYALE</a>
        </div>
        <div class="custom-btn btn-8">
            <a href="/route/nav/tournaments">TOURNAMENTS</a>
        </div>
        <a href="/route/logout">Logout</a>
    </div>
</div>

<%- include('footer') -%>