<%- include('header') -%>

<div class="text-center center-div" id="standard-game">
    <div class="container">
        <h2>STANDARD GAME</h2>
        <a href="/route/nav">Navigation</a>
    </div>
    <div class="game">
        <h2>turns: <span id="turn">3</span></h2>
        <h2>score: <span id="score"></span></h2>
    </div>
    <div class="btn">
        <button onclick="scoreFunc()">Game Button</button>
    </div>
</div>
<!--script>
    /*

    var exports = {};

    let total = 0
    let turns = 3

    function scoreFunc(event) {
        if (turns>0) {
            const points = Math.floor(Math.random() * 1000) 
            total = total+points
            document.getElementById('score').innerHTML = points
            turns -=1
        } else {
            //gameOver()
            window.location.replace('game_over')
        }
        document.getElementById('turn').innerHTML = turns
    }
    

    const scoreFunc = (event) => {
        if (turns>0) {
            const points = Math.floor(Math.random() * 1000) 
            total = total+points
            document.getElementById('score').innerHTML = points
            turns -=1
        } else {
            //gameOver()
            window.location.replace('game_over')
        }
        document.getElementById('turn').innerHTML = turns
    }

    exports.scoreFunc = scoreFunc
    exports.total = total
*/

//    function gameOver() {}
    //console.log(points)
</script-->
<%- include('footer') -%>