<%- include('header') -%>

<div class="text-center center-div" id="settings">
    <div class="container">
        <h2>LANGUAGES</h2>
        <h2>ACCESSABILITY</h2>
        <h2>DARK-MODE</h2>
        <a href="/route/logout">Logout</a>
    </div>
</div>

<%- include('footer') -%>