<%- include('header') -%>

<div class="text-center center-div" id="stats">
    <div class="container">
        <h2>LEADERBOARD</h2>
        <a href="/route/logout">Logout</a>
    </div>
</div>

<%- include('footer') -%>